header {
  background-color: grey;
  height: 100px;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

ul {
  padding-left: 0%;
}

li {
  list-style: none;
}

img {
  margin: 20px;
  margin-left: 0;
  width: 60%;
}

#contact {
  margin-top: 20px;
  margin-bottom: 30px;
}

#title {
  text-align: center;
}
